body {
    font-family: 'Lora', serif;
    margin-bottom: 500px !important;
}

/* navbar */
.navbar-brand {
    font-family: 'Lora', serif;
}

.navbar-brand p {
    font-size: x-small;
    line-height: 20px;
}

.navbar {
    background-color: #ba3b46;
}

.navbar-nav a:hover {
    color: #808f87 !important;
}


/* parallax */
.container.header {
    max-width: 100%;
    margin: 90px auto;
    background: #ffeedb;
    font-size: 24px;
    padding: 70px;
}

.parallax {
    background: url('../img/1.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    text-align: center;

}

.parallax h2 {
    display: flex;
    justify-content: center;
    padding-top: 250px;
    color: #ffeedb;
    font-weight: 200px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}


/* about */

.container-about {
    max-width: 100%;
    margin: -90px auto;
    background: #afd0bf;
    font-size: 24px;
    padding: 70px;
}

.about-content {
    background: url('../img/2.jpg') no-repeat center;
    background-size: cover;
    height: 400px;
}

.about-content h2 {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    font-weight: 200px;
    color: #ffeedb;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.main-about {
    display: flex;
    margin: 65px auto 100px;
    flex-flow: column wrap;
    width: 79%;
    justify-content: center;
    align-items: center;
}

.main-about p {
    color: #808f87;
}

.pa2 {
    padding-top: 30px;
    line-height: 2;
}

.main-about a {
    color: #afd0bf;
    color: #808f87;
}

.main-about a:hover {
    background-color: #808f87;
    color: #afd0bf;
}

.btn-contact {
    margin-top: 50px;
}


/* Menu */
.container-menu {
    width: 100%;
    background-color: #ffeedb;
}

.menu-header {
    display: flex;
    width: 57%;
    margin: 90px auto;
    justify-content: center;
    flex-flow: column wrap;
    align-content: center;
    text-align: center;
    padding-top: 80px;
    color: #808f87;
}

.menu-header h2 {
    font-size: 4rem;
}

.menu-header h2,
p {
    padding-top: 30px;
}

.container-card {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 100%;
}

.card.text-center {
    width: 28%;
}

.card .card-body {
    padding: 50px;
    color: #ffeedb;
}

.card .card-body.card-1 {
    background-color: #808f87;
}

.card .card-body.card-2 {
    background-color: #ba3b46;
}

.card .card-body.card-3 {
    background-color: #61c9a8;
    color: #808f87;
}


/* make reservation */
/* .container-reservation {
    display: flex;
    background-color: #ffeedb;
    color: #808f87;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
} */

.container-reservation {
    display: flex;
    margin: 0 auto;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    background-color: #ffeedb;
}

.main-reservation {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    align-items: center;
    align-content: center;
    margin-bottom: 100px;
}

.header-reservation {
    margin-bottom: 80px;
    margin-top: 150px;
    color: #808f87;
    font-style: italic;
}

.content-date {
    width: 25%;
    background-color: #ffeedb;
    border: 1px solid #808f87;
}

.content-date label {
    background-color: #ffeedb;
    border: none;
    color: #808f87;
}

#datepicker {
    background-color: #ffeedb;
    border: none;
}

.content-time {
    display: flex;
    display: flex;
    border: 1px solid #808f87;
    width: 25%;
}

.content-time i {
    color: #808f87;
}

.content-time input {
    width: 240%;
    background-color: #ffeedb;
    border: none;
}

.content-people {
    width: 25%;
    border: 1px solid #808f87;
}

.content-people option,
.content-people select {
    color: #808f87;
}

.content-people option,
.content-people select {
    border: none;
}

.content-submit {
    width: 20%;
}

.content-submit button {
    border: 1px solid #808f87;
    color: #ffeedb;
    background-color: #808f87;
}

#btn-submit:hover {
    /* background-color: rgba(128, 143, 135, 1.2); */
    filter: brightness(85%);
    color: #ffeedb;
}