* {
    font-family: 'Lora', serif;
}

/* navbar */
.navbar-brand {
    font-family: 'Lora', serif;
}

.navbar-brand p {
    font-size: x-small;
    line-height: 20px;
}

.navbar {
    background-color: #ba3b46;
}

.navbar-nav a:hover {
    color: #808f87 !important;
}


/* parallax */
.container.header {
    max-width: 100%;
    margin: 90px auto;
    background: #ffeedb;
    font-size: 24px;
    padding: 70px;
}

.parallax {
    background: url('../img/1.jpg') no-repeat center;
    opacity: 0.9;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    text-align: center;
    font-style: italic;
}



.parallax h2 {
    display: flex;
    justify-content: center;
    padding-top: 200px;
    color: #ffeedb;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.parallax p {
    color: #ffeedb;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}



/* about */

.container-about {
    max-width: 100%;
    margin: -90px auto;
    background: #afd0bf;
    font-size: 24px;
    padding: 70px;
}

.about-content {
    background: url('../img/2.jpg') no-repeat center;
    background-size: cover;
    height: 400px;
}

.about-content h2 {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    font-weight: 200px;
    color: #ffeedb;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.main-about {
    display: flex;
    margin: 65px auto 100px;
    flex-flow: column wrap;
    width: 79%;
    justify-content: center;
    align-items: center;
}

.main-about p {
    color: #808f87;
}

.pa2 {
    padding-top: 30px;
    line-height: 2;
}

.main-about a {
    color: #afd0bf;
    color: #808f87;
}

.main-about a:hover {
    background-color: #808f87;
    color: #afd0bf;
}

.btn-contact {
    margin-top: 50px;
}


/* Menu */
.container-menu {
    width: 100%;
    background-color: #ffeedb;
}

.menu-header {
    display: flex;
    width: 57%;
    margin: 90px auto;
    justify-content: center;
    flex-flow: column wrap;
    align-content: center;
    text-align: center;
    padding-top: 80px;
    color: #808f87;
}

.menu-header h2 {
    font-size: 4rem;
    font-style: italic !important;
}

.menu-header h2,
.menu-header p {
    padding-top: 30px;
}

.container-card {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 100%;
}

.card.text-center {
    width: 28%;
}

.card .card-body {
    padding: 50px;
    color: #ffeedb;
    font-style: italic;
}

.card .card-body.card-1 {
    background-color: #808f87;
}

.card .card-body.card-2 {
    background-color: #ba3b46;
}

.card .card-body.card-3 {
    background-color: #61c9a8;
    color: #808f87;
}


/* make reservation */
.container-reservation {
    display: flex;
    margin: 0 auto;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    background-color: #ffeedb;
}

.main-reservation {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    align-items: center;
    align-content: center;
    margin-bottom: 100px;
}

.header-reservation {
    margin-bottom: 80px;
    margin-top: 150px;
    color: #808f87;
    font-style: italic;
}

.content-date {
    width: 25%;
    background-color: #ffeedb;
    border: 1px solid #808f87;
}

.content-date label {
    background-color: #ffeedb;
    border: none;
    color: #808f87;
}

#datepicker {
    background-color: #ffeedb;
    border: none;
}

.fade {
    transition: 0.35s;
}

.content-time {
    display: flex;
    display: flex;
    border: 1px solid #808f87;
    width: 25%;
}

.content-time i {
    color: #808f87;
}

.content-time input {
    width: 240%;
    background-color: #ffeedb;
    border: none;
}

.content-people {
    width: 25%;
    border: 1px solid #808f87;
}

.content-people option,
.content-people select {
    color: #808f87;
}

.content-people option,
.content-people select {
    border: none;
}

.content-submit {
    width: 20%;
}

.content-submit button {
    border: 1px solid #808f87;
    color: #ffeedb;
    background-color: #808f87;
}

#btn-submit:hover {
    background-color: rgba(128, 143, 135, 1.2);
    filter: brightness(85%);
    color: #ffeedb;
}


/* Upcoming events */
.container-upcomingEvents {
    background-color: #ffeedb;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column wrap;
}

.container-upcomingEvents .main-event .upcomingEvents-card {
    margin-top: -50px;
    margin-bottom: -100px;
}

.container-upcomingEvents h2 {
    margin-top: 90px;
    text-align: center;
    color: #808f87;
    font-style: italic;
}

.container-upcomingEvents .main-event {
    width: 80%;
    display: flex;
    flex-wrap: column wrap;
    justify-content: space-between;

}

.container-upcomingEvents .main-event .content img {
    width: 100%;
    height: 400px;
    background-size: cover;
}

.container-upcomingEvents .upcomingEvents-card {
    position: relative;
}

.container-upcomingEvents .upcomingEvents-card .face {
    width: 100%;
    height: 300px;
    /* transition: 0.6s; */
}

.container-upcomingEvents .main-event .upcomingEvents-card {
    width: 30%;
}

.container-upcomingEvents .main-event .upcomingEvents-card .face1 {
    height: 400px;
}

.container-upcomingEvents .main-event .upcomingEvents-card .face2 {
    height: 400px;
}

.container-upcomingEvents .upcomingEvents-card .face.face1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container-upcomingEvents .upcomingEvents-card:hover .face.face1 .content {
    opacity: 0.2;
    transition: 0.5s;
}

.card {
    transition: 0.5s;
}

.card:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .25) !important
}

.container-upcomingEvents .upcomingEvents-card .face.face2 {
    position: relative;
    background: #808f87;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
    transition: 0.7s;
    transform: translateY(-150px);
}

.container-upcomingEvents .upcomingEvents-card:hover .face.face2 {
    height: 550px;
    z-index: 2;
    transform: translateY(-300px);
}

.container-upcomingEvents .upcomingEvents-card .face.face2 a {
    text-decoration: none;
    font-weight: 100px;
    background-color: #ffeedb;
    color: #808f87;
    padding: 5px;
}

.container-upcomingEvents .upcomingEvents-card .face.face2 a:hover {
    background-color: rgba(255, 238, 219, 0.9);
}

.container-upcomingEvents .main-event .upcomingEvents-card .face.face2 {
    display: flex;
    flex-wrap: column;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    box-sizing: border-box;
    color: #ffeedb;
}

.container-upcomingEvents .main-event .upcomingEvents-card .face.face2 #btn-event {
    background-color: #ffeedb;
    text-align: center;
    color: #808f87;

}

.container-upcomingEvents .main-event .upcomingEvents-card:hover .face.face2 {
    display: flex;
    flex-wrap: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    color: #ffeedb;
}


/* contact */
.content-contact {
    padding: 100px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    height: 500px;
    background-color: #afd0bf;
}

.container-contact {
    padding: 80px;
    width: 100%;
    height: 1000px;
    background-color: #808f87;
}

#contact-group .form-control {
    background-color: #afd0bf;
    border: 1px solid #808f87;
}

#btn-contact {
    border: 1px solid #808f87;
    background-color: #808f87;
    color: #ffeedb;
    margin-left: 100%;
}

#btn-contact:hover {
    background-color: rgba(128, 143, 135, 0.5);
}

.header-contact {
    text-align: center;
    margin-right: 100px;
    color: #808f87;
    font-size: 1.5rem;
}


/* opening */
.container-opening {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #ffeedb;
    height: 800px;
}

.content-opening {
    /* height: 70%;
    margin-top: 80px;
    width: 80%; */
    height: 70%;
    display: flex;
    flex-flow: column wrap;
    background-color: #808f87;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 1rem;
    color: #ffeedb;
    padding: 10px;
}

.main-opening {
    margin-top: 80px;
    width: 80%;
    display: flex;
    flex-flow: column;

}

.content-opening .judul {
    font-weight: 100px;
    padding: 20px;
    font-size: 2.5rem;
}

#social-media {
    box-sizing: border-box;
    margin: 100px auto 20px;
}

#social-media a {
    color: black;
    font-size: x-large;
}

.footer-p {
    margin: 0 auto;
    color: #808f87;
    font-size: 1.2rem;
}

#portfolio a {
    text-decoration: none;
    font-style: none;
    color: #808f87;
}

#portfolio a:hover {
    font-size: 1.5rem;
    transition: 0.5s;
    color: #ba3b46;
}

.container-location {
    width: 100%;
    height: 400px;
}

.container-location .gambar-peta img {
    width: 100%;
    height: 300px;
    transition: 0.5s;
}